.table-ac {
  width: 100%;
  text-align: left;
  /*border-spacing: 10px;*/
  /*border-collapse: separate;*/
}

.table-ac th, .table-ac td {
  padding-left: 3px;
  padding-right: 3px;
  /*padding-top: 0;*/
  /*padding-bottom: 0;*/

}

.table-ac th {
  border-bottom: groove black 1px;
}

.signature-name-input {
  margin-top: 3px;
  margin-bottom: 3px;
}

.signature-name-input input {
  margin-left: 4px;
}

.signature-image {
  width: 98%;
  height: auto;
}

.footer-title-section {
  font-size: 10px;
}

.signature-comment {
  font-size: 10px;
}

#logow {
  /*margin-left: 127% !important; /* Take container padding out -6 */
  margin-bottom: 10px !important;
  max-height: 80px;
  min-height: 80px;
  height: 80px;
  width: auto;
/*  margin-left: 120%!important;*/
}
#divcenter{
margin: 0 auto;
text-align: center;
}
#vca-logo {
  position: absolute;
  bottom: 144px;
  left: 0;
  float: left;
  height: 52px;
  width: auto;
}

#vianorm-logo {
  position: absolute;
  bottom: 72px;
  left: 0;
  float: left;
  height: 52px;
  width: auto;
}

#quality-logo-iya {
  max-height: 120px !important; /* Never bigger than the Atlas Copco logo */
  min-height: 80px !important;
  height: 120px !important;
  width: auto;
  margin-top: -20px !important;
  margin-left: -30px; /* Take container padding out */
}
