.table-ac {
  width: 100%;
  text-align: left;
  /*border-spacing: 10px;*/
  /*border-collapse: separate;*/
}

.ho-section-header {
  margin-bottom: 4px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 1.3;
  background-color: transparent!important;
  border-bottom: 2px solid #DC241F!important;
  /* color for CP Brazil*/
  /* border-bottom: 2px solid #DC241F!important; */
}

.table-ac th, .table-ac td {
  padding-left: 3px;
  padding-right: 3px;
  /*padding-top: 0;*/
  /*padding-bottom: 0;*/

}

.table-ac th {
  border-bottom: groove black 1px;
}

.signature-name-input {
  margin-top: 3px;
  margin-bottom: 3px;
}

.signature-name-input input {
  margin-left: 4px;
}

.signature-image {
  width: 98%;
  height: auto;
}

.signature-comment {
  font-size: 10px;
}

#vca-logo {
  position: absolute;
  bottom: 144px;
  left: 0;
  float: left;
  height: 52px;
  width: auto;
}

#vianorm-logo {
  position: absolute;
  bottom: 72px;
  left: 0;
  float: left;
  height: 52px;
  width: auto;
}

 /* Font Definitions */
@font-face
	{font-family:Arial;
	panose-1:2 11 6 4 2 2 2 2 2 4;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Univers;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
@font-face
	{font-family:"Univers LT Std 45 Light";
	panose-1:0 0 0 0 0 0 0 0 0 0;}
 /* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Times New Roman";}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{margin-top:0cm;
	margin-right:-5.4pt;
	margin-bottom:0cm;
	margin-left:-5.4pt;
	margin-bottom:.0001pt;
	background:#E6E6E6;
	border:none;
	padding:0cm;
	font-size:8.0pt;
	font-family:Univers;
	font-weight:bold;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Times New Roman";}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:Tahoma;}
p.HeaderTitle, li.HeaderTitle, div.HeaderTitle
	{margin-top:0cm;
	margin-right:-5.4pt;
	margin-bottom:0cm;
	margin-left:-5.4pt;
	margin-bottom:.0001pt;
	text-align:right;
	font-size:16.0pt;
	font-family:Univers;}
p.FooterTitle, li.FooterTitle, div.FooterTitle
	{margin:0cm;
	margin-bottom:.0001pt;
	border:none;
	padding:0cm;
	font-size:8.0pt;
	font-family:Univers;
	font-weight:bold;}
p.FooterContent, li.FooterContent, div.FooterContent
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:Univers;}
p.HeaderContent, li.HeaderContent, div.HeaderContent
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:Univers;
	font-style:italic;}
p.TableHeader, li.TableHeader, div.TableHeader
	{margin-top:2.0pt;
	margin-right:0cm;
	margin-bottom:2.0pt;
	margin-left:0cm;
	font-size:8.0pt;
	font-family:Univers;
	font-weight:bold;}
p.TableSectionHeader, li.TableSectionHeader, div.TableSectionHeader
	{margin:0cm;
	margin-bottom:.0001pt;
	border:none;
	padding:0cm;
	font-size:8.0pt;
	font-family:"Times New Roman";
	font-weight:bold;}
p.TermsContent, li.TermsContent, div.TermsContent
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	font-size:8.0pt;
	font-family:"Times New Roman";}
p.TermsHeader, li.TermsHeader, div.TermsHeader
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	line-height:12.0pt;
	font-size:8.0pt;
	font-family:"Times New Roman";
	color:black;
	font-weight:bold;}
span.A3
	{font-family:"Univers LT Std 45 Light","sans-serif";
	color:black;}
 /* Page Definitions */
@page WordSection1
	{size:21.0cm 842.0pt;
	margin:53.95pt 1.0cm 3.0cm 130.4pt;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
