.metadata
.idea
*.iml
.project
.vscode
build
report
dist
typings
node_modules
jspm_packages
link-checker-results.txt
**/*npm-debug.log.*
src/**/*.js
*.js.map
_test-output
_temp
client
debug.log

!src/debug-console.js
!**/*e2e-spec.js
!karma*.js
!protractor*.js
!wallaby.js
dist*
pdf*
*.zip
src/styles - Copy.css
src/reports/report-visit-global-new/style.css
src/stylesnew.css
src/reports/report-visit-global-new/text-literals-cpr-sv.ts
src/stylesold.css
src/reports/shared/text-literals-cpr-sv0.ts
package-lock.json
