.table-ac {
  width: 100%;
  text-align: left;
  /*border-spacing: 10px;*/
  /*border-collapse: separate;*/
}

.table-ac th, .table-ac td {
  padding-left: 3px;
  padding-right: 3px;
  /*padding-top: 0;*/
  /*padding-bottom: 0;*/

}

.table-ac th {
  border-bottom: groove black 1px;
}

.signature-name-input {
  margin-top: 3px;
  margin-bottom: 3px;
}

.signature-name-input input {
  margin-left: 4px;
}

.signature-image {
  width: 98%;
  height: auto;
}

.signature-comment {
  font-size: 10px;
}

#oxymat-logo {
  height: 48px;
  width: auto;
}

#vianorm-logo {
  position: absolute;
  bottom: 72px;
  left: 0;
  float: left;
  height: 52px;
  width: auto;
}
#header-title {
    color: #000000;
    text-align: left;
}

@media print {
  #no-print {
    display: none!important;
  }
}

#blue-line {
    color: #0099CC;
}
.address {
    line-height: 16px;
}
.margtop5 {
    margin-top: 5px;
}
h2.margtop0.margbtm0 {
    margin-bottom: 0px;
    margin-top: 2px;
}
